<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGestionarSede" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3526/GestionarInstitucion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGestionarSede"
                contract="InstitucionesWS.IGestionarSede" name="BasicHttpBinding_IGestionarSede" />
        </client>
    </system.serviceModel>
</configuration>